
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  .left {
    flex: 6.5;
    background: url('/img/hero-bg.jpg') center center / cover no-repeat;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4); 
  }

  .right {
    flex: 3.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }

  .form-box {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .form-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-box label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  .form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .name-surname-group {
    display: flex;
    gap: 50px;
    margin-bottom: 14px;
  }

  .input-half {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .form-box button {
    width: 40%;
    background-color: #252a32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 120px;
  }

  .form-box button:hover {
    background-color: #8793ae;
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
